<div class="container">
	<h1> ETrack API </h1>
	<div class="list-group">
	{{#each data}}
		<a class="list-group-item" href="#">{{this.dataValues.name}}</a>
	{{/each}}
	</div>
</div>	
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
